<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self' data: https://api.qrserver.com/;"
    />

    <title>Drinkkilippu</title>
    <link rel="stylesheet" href="css/globals.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="scripts/drink-ticket.js" defer></script>
  </head>
  <body class="rubik">
    <div class="error none">
      <h4>error</h4>
    </div>
    <div class="ticket card">
      <div class="card-container">
        <h2 class="glow-white">DRINKKILIPPU</h2>
        <div class="img-container"><img class="ticket-qr" /></div>
        <p>
          Ota näyttökuva <b class="light-green">QR-koodista</b> ja näytä sitä
          <b class="blue">sikajuhlissa</b> saadaksesi ilmaisen
          <b class="red">drinkin</b>.
        </p>
      </div>
    </div>
  </body>
</html>
